@import url(/css/common/common.css);
@import url(/css/common/margin.css);
@import url(/lib/layui/css/layui.css);
* {
  font-size: 12px;
}
body {
  background-color: #fff;
}
.main {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 50px;
}
.title {
  top: 0;
  z-index: 100;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  padding: 0 20px;
  background-color: #fff;
}
.title .content {
  height: 50px;
  line-height: 50px;
  border-bottom: solid 1px #e6e6e6;
}
h1 {
  float: left;
  font-size: 2rem;
}
.btns {
  float: right;
}
.layui-elem-quote {
  font-size: 1.5rem;
  padding: 0 10px !important;
  background-color: #fff;
}
.layui-row {
  margin-bottom: 50px;
}
.layui-form-label {
  width: 120px;
  text-align: left !important;
}
.required::after {
  content: '*';
  position: absolute;
  color: red;
  font-size: 20px;
  margin-left: 10px;
}
.emp {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 6px;
  height: 38px;
  line-height: 1.3;
  border: solid 1px #e6e6e6;
  background-color: #fff;
  border-radius: 2px;
  outline: 0;
  -webkit-appearance: none;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}
.emp div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 26px;
  line-height: 26px;
  padding: 0 6px;
  box-sizing: border-box;
  margin-right: 6px;
  border-radius: 2px;
  border: solid 1px #e6e6e6;
}
.emp div .layui-icon {
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.emp div .layui-icon:hover {
  color: #de5858;
  transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  /* IE 9 */
  -moz-transform: rotate(360deg);
  /* Firefox */
  -webkit-transform: rotate(360deg);
  /* Safari å’Œ Chrome */
}
.employee-list {
  width: 100%;
  height: 15rem;
  border: solid 1px #e6e6e6;
  box-sizing: border-box;
  overflow: auto;
  list-style: none;
}
.employee-list li {
  padding: 7px 10px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.employee-list li:hover {
  background-color: #f2f2f2;
}
.layui-layer {
  box-shadow: none !important;
  border: solid 1px #e6e6e6 !important;
}
.attendance-table .layui-form-checkbox {
  padding: 0;
}
.attendance-table thead th:first-child {
  text-align: center;
}
.attendance-table th,
.attendance-table td {
  font-size: 12px;
}
.attendance-table tbody tr:hover {
  background-color: #fff;
}
.attendance-table tbody tr:hover > td {
  border-left-color: #009688;
  border-right-color: #009688;
}
.attendance-table tbody td {
  padding: 0;
}
.attendance-table tbody td input[type=text],
.attendance-table tbody td input[type=number] {
  width: 100%;
  height: 30px;
  color: #666;
  padding-left: 15px;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  -moz-appearance: textfield;
}
.attendance-table tbody td input[type=text]:hover,
.attendance-table tbody td input[type=number]:hover {
  background-color: #f2f2f2;
}
.attendance-table tbody td input[type=text]:not(.layui-disabled):focus,
.attendance-table tbody td input[type=number]:not(.layui-disabled):focus {
  cursor: text;
  background-color: #fff;
}
.attendance-table tbody td input[type=text]::-webkit-outer-spin-button,
.attendance-table tbody td input[type=number]::-webkit-outer-spin-button,
.attendance-table tbody td input[type=text]::-webkit-inner-spin-button,
.attendance-table tbody td input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.attendance-table tbody td:first-child,
.attendance-table tbody td:last-child {
  text-align: center;
}
.attendance-table-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.attendance-table-title .layui-elem-quote {
  margin-bottom: 0;
}
