@import url(/css/common/common.css);
@import url(/css/common/margin.css);
@import url(/lib/layui/css/layui.css);
* {
  font-size: 12px;
}
body {
  background-color: #fff;
}
.main {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
/* .layui-table th,.layui-table tr,.layui-table td,.layui-table-view{
    border: none !important;
} */
.add-p {
  float: right;
}
.search-date {
  display: flex;
}
.layui-btn {
  font-size: 12px;
}
